
# Archivos generados por IntelliJ IDEA
.idea/
*.iml

# Archivos de compilación de Java
/out/
/target/
*.class

# Configuración del sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs y temporales
*.log
*.tmp

# Archivos de entorno
.env

# Archivos de usuario
*.swp

# Archivos de pruebas
/test-output/

# Maven
/logs/
/.mvn/
!.mvn/wrapper/maven-wrapper.jar

# Git
*.orig
